body {
    margin:0px;
    padding:0;
}
#game {
    width:302px;
    height:302px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 1px solid black;
    background-color: black;
    grid-gap: 1px;
}
.bar {
    width:100px;
    height:100px;
    background-color: white;
}
.bar:hover{
    background-color:rgb(243, 243, 243);
    cursor: pointer;
}
.far, .fas{
    width:100px;
    height: 100px;
    text-align: center;
}
.far {
    margin-top:10px;
}

#panel{
    width:300px;
    margin:auto;
    display: grid;
    grid-template-columns: 200px 100px;
    grid-template-rows: 30px 30px;
    margin-bottom:5px;
}

#changeopp,
#changesymbol{
    grid-column: 1 / 2;
    background-color: rgb(255, 255, 255);
    display: block;
    font-family:"Avenir";
    font-weight: 600;
    font-size:20px;
    text-transform: uppercase;
    text-align: left;
    padding:10px;
    box-sizing: border-box;
    color:rgb(71, 71, 71);
}
#changesymbol{
    font-size: 14px;
    text-transform: none;
    position: relative;
}
#changeopp:hover{
    color:black;
    cursor: pointer;
}

.fa-undo-alt{
    grid-row: 1/3;
    grid-column: 2/3;
    padding:15px 10px;
    cursor: pointer;
    color:rgb(71, 71, 71);
}
.fa-undo-alt:hover{
    color:black;
}
#status{
    height:50px;
    width:302px;
    margin: auto;
    text-align: center;
    padding:10px;
    font-family:"Avenir";
    font-weight: 600;
    font-size:24px;
    text-transform: uppercase;
    background-color:black;
    box-sizing: border-box;
    color:white;

}
